* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing:border-box;
  }
  .container {
    position: absolute;
    max-width: 100%;
    height: 100%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body{
    font-family: 'Be Vietnam Pro', sans-serif;
   }
   .form-control {
    margin: auto;
    width: 70%;
    height: 25%;
  }
  .form-label{
    position:relative;
    max-width: 100%;
    height: 100%;
    margin-bottom: 1%;
  margin-left: 15%;
  }
  .td-submit{
    padding-right:15% ;
    padding-left: 15%;
    }
    .btn-md {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 23px
      }
      .btn-primary {
        width: 100%;
        background-color: #A44646;
        border-color: #A44646;
        color: #fff;
        cursor: pointer;
        -webkit-transition: all ease-in .3s;
        transition: all ease-in .3s;
        
      }
      
.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 6px;
  }
  .btn-google {
    color: #545454;
    background-color: #ffffff;
    box-sizing: 0 1px 2px 1px;
    border-color: #cbc1c1;
  }
  .td-btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}
.td-btn-primary {
    background-color: #A44646;
    border-color: #A44646;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}   

.padding-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .td-or-container {
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;
    padding-left: 13%;
    padding-right: 13%
  }
  
  .td-line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
  }
  .td-or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
  }